/* ================= */
/* Andy bell reset */
/* ================= */
/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* ===================================== */

/* variables */
:root {
    --HeadFontFam: 'young-serif';
    --contentFontFam: 'outfit';
    --Mainfontsize: clamp(1rem, 2.5vw, 1.5rem);
    --MainfontColor: #4D4342;
    --HeadersColor: #773C2A;
}

/* initializing */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* external font-style */
@font-face {
    font-family: 'young-serif';
    src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'outfit';
    src: url(./assets/fonts/outfit/Outfit-VariableFont_wght.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Containers style */
body {
    padding: clamp(150px, 10vw, 200px) clamp(300px, 20vw, 400px);
    font-family: var(--contentFontFam);
    font-size: var(--Mainfontsize);
    color: var(--MainfontColor);
    background-color: #F3E5D8;
}

.main-container {
    background-color: white;
    border-radius: 20px;
    padding: clamp(25px, 5vw, 35px);
    width: fit-content;
}

/* div and image */
.recipe-img img {
    width: 100%;
    height: 100%;
    scale: 1;
}

.recipe-img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 20px;
}

/* headers */

h1 {
    font-size: clamp(2rem, 5vw, 3rem);
    text-transform: capitalize;
    margin: 40px 0;
}

h1,
h2 {
    font-family: var(--HeadFontFam);
    font-weight: normal;
}

h2 {
    margin: 20px 0;
    color: var(--HeadersColor);
    font-size: 1.875rem;
}

.prepa-header {
    color: #6D2F49;
    font-family: var(--contentFontFam);
    font-weight: bold;
    font-size: 1.25rem;
    margin-left: 15px;
}

/* header div */
.preparation-time {
    padding: 15px;
    background-color: #FFF7FC;
    border-radius: 20px;
}

/* list and paragraph */

ul,
ol,
p {
    margin: 20px 0px 20px 0px;
}

ol {
    list-style: inside decimal;
}

main section:nth-of-type(1) li {
    list-style: disc;
    padding-left: 20px;
    margin: 20px 40px;
}

main section:nth-of-type(2) li {
    list-style: square;
    padding-left: 20px;
    margin: 20px 25px;
}

li::marker {
    color: var(--HeadersColor);
}

main section:nth-of-type(3) li {
    list-style: decimal;
    padding-left: 25px;
    margin: 20px 25px;
}

main section:nth-of-type(3) li::marker {
    font-weight: bold;
}

/* nutrition table */

table {
    width: calc(100% - 5%);
    text-transform: capitalize;
    border-collapse: collapse;

}

table tr:nth-of-type(n+1):nth-of-type(-n+3) th,
table tr:nth-of-type(n+1):nth-of-type(-n+3) td {
    border-bottom: 1px solid rgb(79, 76, 76);
}

table tr th,
table tr td {
    padding: clamp(10px, 2vw, 20px) clamp(50px, 5vw, 70px) clamp(10px, 2vw, 20px) 0;
    font-weight: normal;
    text-align: start;
}

table tr th:nth-of-type(1) {
    padding-left: clamp(20px, 2vw, 40px);
}

table tr td:nth-child(2) {
    color: var(--HeadersColor);
    font-weight: bold;
}